@import "../../theme/variable.scss";

.nav-main {
  width: 100%;
  height: auto;
}

/* ------::TOP NAV::------ */
.top-nav {
  min-width: 100%;
  max-width: 100%;
  height: auto;
  padding: 5px 0;
  background-color: #f5f5f5;
  position: relative;
}

.top-nav .top-nav-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-left p {
  font-size: 14px;
  font-weight: 400;
}

.top-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.account {
  position: relative;
}

.account-dropdown a {
  display: flex;
  align-items: center;
  transition: 400ms;
  position: relative;
}

.account-dropdown a:hover {
  color: $color-red-crimson;
}

.account-dropdown p,
.country-name p {
  font-size: 14px;
  font-weight: 400;
}

.country-name p {
  padding-top: 3px;
}

.account-dropdown span,
.country-name span {
  display: contents;
}

.account-dropdown span i,
.country-name span i {
  margin-left: 6px;
  font-size: 12px;
  padding-top: 3px;
}

.account-dropdown-menu {
  margin-top: 5px;
  padding: 5px 0px;
  border: 1px solid $color-smooth-black;
  border-radius: 5px;
  position: absolute;
  top: 22px;
  right: 0px;
  background-color: #fff;
  z-index: 1111;

  width: 160px;
}

.account-dropdown-menu ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.account-dropdown-menu ul li a {
  padding: 5px 15px;
  font-size: 14px;
  font-weight: 400;
  color: $color-black;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: 300ms;
}

.account-dropdown-menu ul li a:hover {
  color: $color-red-crimson;
}

.account-dropdown-menu ul li a span:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
}

.account-dropdown-menu ul li a span:first-child i {
  font-size: 12px;
}

.country-select {
  margin-left: 20px;
}

.country-dropdown a {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.country-image {
  width: 30px;
  display: flex;
  margin-right: 4px;
}

.country-image img {
  width: 100%;
  height: auto;
  display: inline;
}

.country-name {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-child {
  padding: 20px;
  background-color: crimson;
}

@media (max-width: 556px) {
  .top-nav .top-nav-child {
    justify-content: flex-end;
  }

  .top-left {
    display: none;
  }

  .account-dropdown p,
  .country-name p {
    font-size: 12px;
    font-weight: 400;
  }

  .account-dropdown span i,
  .country-name span i {
    margin-left: 6px;
    font-size: 10px;
    padding-top: 0px;
  }

  .country-image {
    width: 25px;
    display: flex;
    margin-right: 4px;
  }
}

/* ------::MIDDLE NAV::------ */
.middle-nav {
  width: 100%;
  padding: 20px 0px;
  border-bottom: 1px solid $color-smooth-black;
}

.mid-logo img {
  cursor: pointer;
}

.middle-nav-child {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.middle-nav .middle-nav-child2 .bottom-nav-child .nav-items {
  justify-content: flex-end !important;
}

.middle-nav-child .mid-search {
  flex: 0.65;
}

.mid-search form {
  display: flex;
  justify-items: center;
  align-items: center;
  position: relative;
}

.mid-search input {
  width: 100%;
  border: none;
  outline: 0px;
  border-radius: 4px 0px 0px 4px;
  height: 44px;
  background-color: #f2f2f2;
  padding: 0px 12px;
  color: #333;
}

.mid-search input::placeholder {
  color: gray;
}

.mid-search .search-btn {
  padding: 0 32px;
  transition: all 0.3s linear;
  background-color: $color-red-crimson;
  fill: #fff;
  border-radius: 0 4px 4px 0;
  height: 44px;
  border: 0px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 200ms;
}

.mid-search .search-btn:hover {
  background-color: $color-crimson-opacity;
}

.mid-search .search-btn:active {
  background-color: $color-crimson-opacity-2;
}

.mid-search .search-btn i {
  padding-top: 2px;
  font-size: 22px;
  color: #fff;
}

.mid-cart {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-wishlist {
  margin-right: 20px;
}

.cart-wishlist button,
.cart-cart button {
  border: none;
  background: transparent;
  outline: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cart-cart button span:first-child {
  position: relative;
}

.cart-cart button span:first-child sup {
  background-color: #fc404a;
  color: #fff;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  right: -7px;
  z-index: 111;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 500;
  padding-left: 1px;
}

.cart-wishlist button span:last-child,
.cart-cart button span:last-child {
  padding-top: 6px;
  margin-left: 6px;
  transition: 200ms;
}

.cart-cart button span:last-child {
  margin-left: 14px;
}

.cart-cart button span:last-child {
  color: $color-red-crimson;
}

.cart-wishlist button:hover span:last-child {
  color: $color-red-crimson;
}

@media (max-width: 1200px) {
  .middle-nav-child .mid-search {
    flex: 0.7;
  }
}

@media (max-width: 956px) {
  .middle-nav {
    padding: 12px 0px;
  }

  .middle-nav-child {
    flex-wrap: wrap;
  }

  .middle-nav-child .mid-search {
    margin-top: 16px;
    flex: 1 0 100%;
    order: 3;
  }
}

@media (max-width: 700px) {
  .middle-nav .middle-nav-child2 .bottom-nav-child {
    margin: 0px 0px 0px 0px;
    display: none;
  }
}

@media (max-width: 656px) {
  .cart-wishlist button span:last-child,
  .cart-cart button span:last-child {
    display: none;
  }

  .mid-search .search-btn {
    padding: 0px 22px;
  }
}

@media (max-width: 556px) {
}

/* ------::BOTTOM NAV::------ */
.bottom-nav {
  border-bottom: 1px solid $color-smooth-black;
  padding: 12px 0 9px 0px;
  margin-bottom: 30px;
}

.bottom-nav .bottom-nav-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottom-nav .bottom-nav-child .nav-items,
.middle-nav .middle-nav-child .bottom-nav-child .nav-items {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.bottom-nav-child .nav-item {
  margin-right: 40px;
  display: flex;
  align-items: center;
}

.bottom-nav-child .nav-item:last-child {
  margin-right: 0px;
}

.bottom-nav-child .nav-item p {
  display: flex;
  align-items: center;
}

.bottom-nav-child .nav-item p a {
  font-size: 17px;
  font-weight: 400;
  transition: 300ms;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.bottom-nav-child .nav-item p a:hover {
  color: $color-red-crimson;
}

.bottom-nav-child .nav-item p a.active {
  color: $color-red-crimson;
}

.special button {
  border: 0px;
  outline: 0px;
  background-color: transparent;
  display: flex;
  align-items: center;
}

.special span:last-child {
  font-size: 17px;
  font-weight: 400;
  text-transform: uppercase;
  margin-left: 8px;
}

@media (max-width: 888px) {
  .bottom-nav-child .nav-item {
    margin-right: 20px;
  }

  .bottom-nav-child .nav-item p a,
  .special span:last-child {
    font-size: 15px;
  }
}
@media (max-width: 888px) {
  .bottom-nav-child .nav-item {
    margin-right: 20px;
  }

  .bottom-nav-child .nav-item p a,
  .special span:last-child {
    font-size: 15px;
  }
}

@media (max-width: 742px) {
  .bottom-nav {
    display: none;
  }
}

.seller-burger-menu {
  display: none;
}

.seller-burger-menu button {
  outline: 0;
  border: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seller-burger-menu button i {
  font-size: 24px;
  padding-top: 2px;
}

@media (max-width: 700px) {
  .seller-burger-menu {
    display: block;
  }
}
