<div class="nav-main">
  <!-- top nav -->
  <div class="top-nav">
    <div class="container top-nav-child">
      <div class="top-left">
        <p>Get 30% Off On Selected Items</p>
      </div>

      <div class="top-right">
        <!-- account -->
        <div class="account">
          <div class="account-dropdown">
            <a href="">
              <p>
                {{ "My Account" | titlecase }}
              </p>
              <span>
                <i class="fas fa-chevron-down"></i>
              </span>
            </a>
          </div>
          <div class="account-dropdown-menu"></div>
        </div>

        <!-- country select -->
        <div class="country-select">
          <div class="country-dropdown">
            <a href="#">
              <div class="country-image">
                <img
                  src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/255px-Flag_of_the_United_States.svg.png"
                  alt=""
                />
              </div>
              <div class="country-name">
                <p>
                  {{ "USD" | uppercase }}
                </p>
                <span>
                  <i class="fas fa-chevron-down"></i>
                </span>
              </div>
            </a>
          </div>

          <div class="country-dropdown-menu"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- middle nav -->
  <div class="middle-nav">
    <div class="container"></div>
  </div>

  <!-- bottom-nav -->
  <div class="bottom-nav">
    <div class="container"></div>
  </div>
</div>
