@import "../../theme//variable.scss";
/* -----::SELLER_ACCOUNT_FORM::----- */
.seller-account-form {
  border: 1px solid $color-light-2;
  padding: 20px;
  border-radius: 4px;
  background-color: #f9f9f9;
  max-width: 1000px;
  margin: 0 auto;
}

form {
  width: 100%;
}

.total-input {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px 20px;
  margin-bottom: 16px;
}

.total-input .form-item:last-child {
  grid-column: 1 / span 2;
  grid-row: 3;
}

.form-item {
  width: 100%;
}

.form-item-child {
  width: 100%;
}

.form-item-child label {
  display: block;
  font-size: 16px;
  font-weight: 500;
  color: $color-light-gray;
  margin-bottom: 6px;
}

.form-item-child input,
.form-item-child textarea {
  display: block;
  width: 100%;
  outline: 0;
  height: 39px;
  padding: 0px 8px;
  border-radius: 5px;
  color: $color-black;
  border: 1px solid $color-light-gray-3;
  font-size: $font-decs-size;
  font-weight: 500;
}

.form-item-child textarea {
  height: auto;
  padding-top: 6px;
  resize: none;
  display: block;
}

.form-item-child input:focus,
.form-item-child textarea:focus {
  border: 1px solid $color-red-crimson;
}

.form-item-child input::placeholder,
.form-item-child textarea::placeholder {
  font-size: 14px;
  color: $color-light-gray-2;
  font-weight: 400;
}

.form-error {
  color: $color-red-crimson;
}

.form-button {
  margin-bottom: 10px;
  margin-top: 24px;
  text-align: center;
  width: 100%;
}

.form-button button {
  border: 0;
  outline: 0;
  background: $color-red-crimson;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  padding: 8px 20px 6px 20px;
  border-radius: 5px;
  transition: 300ms;
  border: 1px solid transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.form-button button:hover {
  background: $color-crimson-opacity;
  border: 1px solid $color-black;
}

.form-button button:active {
  background: $color-crimson-opacity-2;
}

@media (max-width: 700px) {
  .total-input {
    grid-template-columns: 1fr;
  }
  .total-input .form-item:last-child {
    grid-column: inherit;
    grid-row: inherit;
  }

  .form-item-child textarea {
    height: 200px;
  }
}

@media (max-width: 556px) {
  .form-button button {
    font-size: 14px;
    padding: 4px 12px;
  }
}

.success-message-show {
  background: #00a20047;
  border-radius: 6px;
  padding: 30px 50px;
  font-size: 30px;
  color: green;
  max-width: 1000px;
  margin: 0px auto 30px;
}
