@import "./variable.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  display: block;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: $font-en-primary-3;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: $color-black;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

a {
  display: block;
  color: $color-black;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: $color-black;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
}

.custom-container {
  display: block;
  max-width: $theme-container-width;
  width: 100%;
  margin: auto;
  padding: 0px;
}

@media (max-width: 900px) {
  .custom-container {
    width: 100% !important;
    padding: 0px 15px;
    box-sizing: border-box;
  }
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}
/**** default code  ****/

.seller-account {
  width: 100%;
  margin-bottom: 36px;
}

.seller-account-child {
  width: 100%;
}

.account-form-title h1 {
  font-weight: 500;
  font-size: 26px;
  text-transform: capitalize;
  margin-bottom: 30px;
  position: relative;
  margin-top: 10px;
  border-bottom: 2px solid #e4e4e4;
  text-align: center;
  position: relative;
  padding: 4px 0px;
}

.account-form-title h1 span {
  position: relative;
}

.account-form-title h1 span::after {
  content: "";
  width: 50%;
  bottom: -4px;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 2;
  border-bottom: 2px solid $color-red-crimson;
}
@media (max-width: 556px) {
  .account-form-title h1 {
    font-size: 20px;
  }
}

.loading-spine p {
  color: $color-red-crimson;
  text-align: center;
  font-size: 20px;
}

.success-message-show {
  border-radius: 6px;
  padding: 30px 50px;
  font-size: 30px;
  width: 100%;
  margin: 0px auto 30px;
}

.product-banner-hover-one {
  position: relative;
}

.product-banner-hover-one::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.7s;
  opacity: 1;
  transform: translate(-105%);
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #ffffffab;
  background-color: #ffffffab;
}

.product-banner-hover-one::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 1s;
  opacity: 1;
  transform: translate(-105%);
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #ffffffab;
  background-color: #ffffffab;
}

.product-banner-hover-one:hover::before {
  transform: translate(-0%);
  opacity: 0;
}

.product-banner-hover-one:hover::after {
  transform: translate(-0%);
  opacity: 0;
}

ul {
  margin-bottom: 0px;
  list-style: none;
  padding: 0px;
}

/* /-----::PRODUCT-TITLE-START::-----/ */
.product-section {
  width: 100%;
  height: auto;
  margin-top: 30px;
}

.product-section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid $color-smooth-black;
  position: relative;
  margin-bottom: 30px;
}

.product-title-heading h3 {
  color: $color-black;
  font-size: 26px;
  font-weight: 600;
  position: relative;
  padding: 4px 0px;
}

.product-title-heading h3::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: $color-red-crimson;
}

.product-title-nav ul {
  display: flex;
  align-items: center;
}
.product-title-nav ul li,
.product-title-nav ul li a {
  display: flex;
  align-items: center;
  position: relative;
}

.product-title-nav ul li {
  margin-right: 25px;
}

.product-title-nav ul li:last-child {
  margin-right: 0px;
}

.product-title-nav ul li a {
  font-size: 18px;
  color: $color-black;
  font-weight: 500;
  transition: 500ms;
  padding: 6px 0px;
}

.product-title-nav ul li a::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: $color-red-crimson;
  transition: 500ms;
  visibility: hidden;
  opacity: 0;
}

.product-title-nav ul li a:hover {
  color: $color-red-crimson;
  position: relative;
}

.product-title-nav ul li a:hover::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: $color-red-crimson;
  visibility: visible;
  opacity: 1;
}

.product-title-nav ul li a.active {
  color: $color-red-crimson;
  position: relative;
}

.product-title-nav ul li a.active::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: $color-red-crimson;
  visibility: visible;
  opacity: 1;
}
/* /-----::PRODUCT-TITLE-END::-----/ */

/* /-----::PRODUCT-CARD-START::-----/ */
.product-card {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid $color-light-gray-3;
  position: relative;
}

.product-card .product-img {
  position: relative;
  width: 100%;
  height: 280px;
  transition: 500ms;
  background-color: transparent;
}

.product-card .product-img a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 280px;
  transition: all 0.8s ease;
}

.product-card .product-img a:first-child {
  visibility: visible;
  opacity: 1;
}
.product-card .product-img a:last-child {
  visibility: hidden;
  opacity: 0;
}

.product-card .product-img a img {
  width: 100%;
  height: 100%;
  visibility: visible;
  opacity: 1;
  transition: all 0.4s ease-in-out 0s;
}

.product-card:hover .product-img a:first-child {
  visibility: hidden;
  opacity: 0;
}

.product-card:hover .product-img a:last-child {
  visibility: visible;
  opacity: 1;
}

.product-card-watch-list {
  display: inline;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.product-card-watch-list-child {
  display: flex;
  align-items: center;
}

.product-card:hover .product-card-watch-list {
  opacity: 1;
  visibility: visible;
}

.product-card-watch-list .product-card-watch-list-child a {
  vertical-align: middle;
  background: #f5f5f5;
  min-width: 40px;
  min-height: 40px;
  border-radius: 5px;
  padding: 7px 0;
  transition: 0.3s ease;
  text-align: center;
  cursor: cell;
  margin-right: 8px;
}

.product-card-watch-list .product-card-watch-list-child a:last-child {
  margin-right: 0px;
}

.product-card-watch-list .product-card-watch-list-child a:hover {
  background-color: $color-red-crimson;
  fill: $color-white;
}

.product-card-watch-list .product-card-watch-list-child a svg {
  height: 20px;
}

.product-content {
  padding: 0px 8px 12px;
}

.product-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.product-rating i {
  font-size: 16px;
  color: $star-color;
}

.product-info-text {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.product-info-text p {
  margin-bottom: 8px;
}

.product-info-text p a {
  color: $color-black;
  font-weight: 400;
  font-size: 17px;
  transition: all 300ms;
}

.product-info-text p a:hover {
  color: $color-red-crimson;
}

.product-info-text h6 {
  color: $color-black;
  font-weight: 600;
  font-size: 18px;
}

@media (max-width: 992px) {
  .product-card-watch-list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 12px 0px;
    position: inherit;
    top: inherit;
    left: 50%;
    transform: translateX(inherit);
    visibility: visible;
    opacity: 1;
    transition: all 0.4s ease-in-out;
    background-color: transparent;
  }
}

@media (max-width: 340px) {
  .product-card .product-img {
    height: 230px;
  }

  .product-card .product-img a {
    height: 230px;
  }
}
/* /-----::PRODUCT-CARD-END::-----/ */

/* /-----::SHORT-CARD-START::-----/ */
.short-card {
  width: 100%;
  height: auto;
  border-radius: 4px;
  background-color: #f9f9f9;
  overflow: hidden;
}

.categories-card-img {
  height: 175px;
}

.categories-card-img img {
  width: 100%;
  height: 100%;
}

.categories-card-info {
  border-top: 1px solid $color-light-2;
  padding: 8px 0px;
  text-align: center;
}

.categories-card-info h5 {
  letter-spacing: 0.2px;
  font-size: 16px;
}
/* /-----::SHORT-CARD-END::-----/ */

/* /-----::DAY-DEAL-POPULAR-CARD-START::-----/ */
.day-deal-popular-card {
  display: grid;
  grid-template-columns: 2.8fr 4fr;
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  height: 100%;
}

.day-deal-popular-card .day-deal-popular-img {
  position: relative;
  width: 100%;
  height: 312px;
  transition: 500ms;
  background-color: transparent;
}

.day-deal-popular-card .day-deal-popular-img a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 312px;
  transition: all 0.8s ease;
}

.day-deal-popular-card .day-deal-popular-img a:first-child {
  visibility: visible;
  opacity: 1;
}

.day-deal-popular-card .day-deal-popular-img a:last-child {
  visibility: hidden;
  opacity: 0;
}

.day-deal-popular-card .day-deal-popular-img a img {
  width: 100%;
  height: 100%;
  visibility: visible;
  opacity: 1;
  transition: all 0.4s ease-in-out 0s;
}

.day-deal-popular-card:hover .day-deal-popular-img a:first-child {
  visibility: hidden;
  opacity: 0;
}

.day-deal-popular-card:hover .day-deal-popular-img a:last-child {
  visibility: visible;
  opacity: 1;
}

.day-deal-popular-content {
  padding: 16px 6px 12px 6px;
}

.day-deal-popular-content .day-deal-title h3 a {
  font-size: 18px;
  font-weight: 400;
  color: $color-black;
  transition: 300ms;
  padding: 4px 0px 3px;
}

.day-deal-popular-content .day-deal-title h3 a:hover {
  color: $color-red-crimson;
}

.day-deal-popular-content .day-deal-rating .day-deal-rate {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 12px 0px;
}

.day-deal-popular-content .day-deal-rating .day-deal-rate i {
  font-size: 14px;
  color: $star-color;
  margin: 0px 1px;
}

.day-deal-info-text h6 {
  margin-bottom: 6px;
}

.day-deal-info-text span {
  font-size: 16px;
  font-weight: 600;
  color: $color-black;
}

.day-deal-info-text span:last-child {
  font-size: 14px;
  font-weight: 500;
  color: $color-light-gray-2;
  margin-left: 4px;
}

.day-deal-info-text p {
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: 400;
  color: $color-black-2;
}

.day-deal-info-text h4 {
  font-size: 20px;
  color: gray;
  margin-bottom: 12px;
}

.time-counting {
  margin-bottom: 16px;
}

.time-counting ul {
  display: flex;
}

.time-counting ul li {
  padding: 0px 16px;
  border-right: 1px solid $color-light-gray-3;
}

.time-counting ul li:first-child {
  padding-left: 0px;
}

.time-counting ul li:last-child {
  padding-right: 0px;
  border-right: 0px;
}

.time-counting ul li span:first-child {
  font-size: 20px;
  font-weight: 500;
}

.time-counting ul li span:last-child {
  font-size: 12px;
}

.cart-eye-icon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.cart-eye-icon button {
  outline: 0px;
  border: 0px;
  background-color: #fc404a;
  padding: 2px 15px 0px 15px;
  min-height: 40px;
  max-height: 40px;
  color: #f8f8f8;
  transition: all 300ms ease-in-out;
  border-radius: 4px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-eye-icon button:hover {
  background-color: $color-black-2;
}

.cart-eye-icon a {
  vertical-align: middle;
  background: #f5f5f5;
  min-width: 40px;
  min-height: 40px;
  border-radius: 5px;
  padding: 8px 0 7px 0px;
  transition: 0.3s ease;
  text-align: center;
  cursor: cell;
  margin-left: 12px;
}

.cart-eye-icon a svg {
  height: 20px;
}

.cart-eye-icon a:hover {
  background-color: $color-red-crimson;
  fill: $color-white;
}
/* /-----::DAY-DEAL-POPULAR-CARD-END::-----/ */
