@import "./variable.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  display: block;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: $font-en-primary-3;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: $color-black;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

a {
  display: block;
  color: $color-black;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: $color-black;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
}

.custom-container {
  display: block;
  max-width: $theme-container-width;
  width: 100%;
  margin: auto;
  padding: 0px;
}

@media (max-width: 900px) {
  .custom-container {
    width: 100% !important;
    padding: 0px 15px;
    box-sizing: border-box;
  }
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}
/**** default code  ****/

.seller-account {
  width: 100%;
  margin-bottom: 36px;
}

.seller-account-child {
  width: 100%;
}

.account-form-title h1 {
  font-weight: 500;
  font-size: 26px;
  text-transform: capitalize;
  margin-bottom: 30px;
  position: relative;
  margin-top: 10px;
  border-bottom: 2px solid #e4e4e4;
  text-align: center;
  position: relative;
  padding: 4px 0px;
}

.account-form-title h1 span {
  position: relative;
}

.account-form-title h1 span::after {
  content: "";
  width: 50%;
  bottom: -4px;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 2;
  border-bottom: 2px solid $color-red-crimson;
}
@media (max-width: 556px) {
  .account-form-title h1 {
    font-size: 20px;
  }
}

.loading-spine p {
  color: $color-red-crimson;
  text-align: center;
  font-size: 20px;
}

.success-message-show {
  border-radius: 6px;
  padding: 30px 50px;
  font-size: 30px;
  width: 100%;
  margin: 0px auto 30px;
}

.product-banner-hover-one {
  position: relative;
}

.product-banner-hover-one::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.7s;
  opacity: 1;
  transform: translate(-105%);
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #ffffffab;
  background-color: #ffffffab;
}

.product-banner-hover-one::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 1s;
  opacity: 1;
  transform: translate(-105%);
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #ffffffab;
  background-color: #ffffffab;
}

.product-banner-hover-one:hover::before {
  transform: translate(-0%);
  opacity: 0;
}

.product-banner-hover-one:hover::after {
  transform: translate(-0%);
  opacity: 0;
}

ul {
  margin-bottom: 0px;
  list-style: none;
  padding: 0px;
}

/* /-----::PRODUCT-CARD-START::-----/ */
.product-card {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid $color-light-gray-3;
  position: relative;
}

.product-card .product-img {
  position: relative;
  width: 100%;
  height: 280px;
  transition: 500ms;
  background-color: transparent;
}

.product-card .product-img a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 280px;
  transition: all 0.8s ease;
}

.product-card .product-img a:first-child {
  visibility: visible;
  opacity: 1;
}
.product-card .product-img a:last-child {
  visibility: hidden;
  opacity: 0;
}

.product-card .product-img a img {
  width: 100%;
  height: 100%;
  visibility: visible;
  opacity: 1;
  transition: all 0.4s ease-in-out 0s;
}

.product-card:hover .product-img a:first-child {
  visibility: hidden;
  opacity: 0;
}

.product-card:hover .product-img a:last-child {
  visibility: visible;
  opacity: 1;
}

.product-content {
  padding: 0px 8px 12px;
}

.product-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.product-rating i {
  font-size: 16px;
  color: $star-color;
}

.product-info-text {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.product-info-text p {
  margin-bottom: 8px;
}

.product-info-text p a {
  color: $color-black;
  font-weight: 400;
  font-size: 17px;
  transition: all 300ms;
}

.product-info-text p a:hover {
  color: $color-red-crimson;
}

.product-info-text h6 {
  color: $color-black;
  font-weight: 600;
  font-size: 18px;
}

@media (max-width: 340px) {
  .product-card .product-img {
    height: 230px;
  }

  .product-card .product-img a {
    height: 230px;
  }
}

/* /-----::PRODUCT-CARD-END::-----/ */
