// Fonts Family
$font-en-primary: "Montserrat", sans-serif;
$font-en-primary-2: "Mulish", sans-serif;
$font-en-primary-3: "Poppins", sans-serif;
$font-en-primary-4: "Work Sans", sans-serif;
$open-sans: "Open Sans", sans-serif;
$bank-gothic-medium: "bank_gothic_medium", "arial", sans-serif;
$nexa-bold: "nexa_bold", "arial", sans-serif;
$nexa-light: "nexa_light", "arial", sans-serif;
$cocon-regular: "cocon_regular", "arial", sans-serif;
$shorif-jonota: "shorif_jonota", sans-serif;
$segoe_ui_regular: "segoe_ui_regular", sans-serif;
$segoe_ui_bold: "segoe_ui_bold", sans-serif;
// Theme Container
$theme-container-width: 97%;
$theme-container-max-width: 1760px;

// MAT TOOLBAR, SIDENAV & LIST
$toolbar-height: 60px;
$toolbar-height-sm: 60px;
$mat-sidenav-width: 260px;
$list-hover-color: #c8d5e4;
$list-text-color: #4a4a4a;
$list-text-size: 15.5px;

// BREAKPOINTS
$max-tablet-width: 899px;

// COLOR
$searchBorderColor: #dedede;
$color-white: #f8f8f8;
$color-primary: #ef3688;
$color-secondary: #ffd200;
$icon-default-color: #ffffff;
$table-bg-color: #fbae01;
$table-text-color: #6a4a02;
$table-sm-color: #fe7b03;

// my addition:---
$color-light-gray: #787777;
$color-light-gray-2: #a1a1a1;
$color-light-gray-3: #a1a1a14d;
$color-light-2: #eeee;
$color-black: #000000;
$color-black-2: #333333;
$color-smooth-black: #e4e4e4;
$color-red-crimson: #fc404a;
$color-crimson-opacity: #fc4049d8;
$color-crimson-opacity-2: #6f0d1272;

// FONT SIZE
$font-title-size: 24px;
$font-title--md-size: 22px;
$font-decs-size: 16px;
