<!-- /----::CREATE SELLER ACCOUNT FORM::----/ -->
<div class="seller-account">
  <div class="custom-container seller-account-child">
    <div class="account-form-title">
      <h1>
        <span>Product List</span>
      </h1>
    </div>

    <div class="seller-products">
      <div class="success-message-show" *ngIf="showSuccessMessage">
        <p>{{ showSuccessMessage }}</p>
      </div>

      <div
        class="success-message-show success-message-show2"
        *ngIf="showSuccessMessage2 && !showSuccessMessage"
      >
        <p>{{ showSuccessMessage2 }}</p>
      </div>
      <ng-container *ngIf="!showSpinner">
        <table *ngIf="!showSuccessMessage">
          <thead>
            <tr>
              <th>Image</th>
              <th>Name</th>
              <th>Price</th>
              <th>Color</th>
              <th>Category</th>
              <th>Description</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let product of productList">
              <tr>
                <td>
                  <img src="{{ product.productImage }}" alt="" />
                </td>
                <td>{{ product.productName }}</td>
                <td>{{ product.productPrice }}</td>
                <td>{{ product.productColor }}</td>
                <td>{{ product.productCategory }}</td>
                <td>{{ product.productDescription }}</td>
                <td>
                  <div>
                    <button (click)="onDelProduct(product.id)" type="button">
                      {{ "Delete" | uppercase }}
                    </button>
                    &nbsp;&nbsp;&nbsp;
                    <button
                      routerLink="seller-update-product/{{ product.id }}"
                      type="button"
                    >
                      {{ "Edit" | uppercase }}
                    </button>
                  </div>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </ng-container>
      <ng-container *ngIf="showSpinner">
        <div class="loading-spine">
          <p>Loading...</p>
        </div>
      </ng-container>
    </div>
  </div>
</div>
