@import "../../theme/variable";
@import "../../theme/swiper.scss";

.header-main {
  width: 100%;
  display: grid;
  grid-template-columns: 260px calc(100% - 280px);
  gap: 20px;
  position: relative;
}

@media (max-width: 1200px) {
  .header-main {
    grid-template-columns: 100%;
  }
}

@media (max-width: 742px) {
  .header-main {
    margin-top: 20px;
  }
}

.categories,
.slider-ser-appto,
.slider-ser-appto .slider-main,
.slider-ser-appto .ser-appto {
  max-width: 100%;
  position: relative;
}

/* /-----::CATEGORIES::-----/ */
.categories {
  overflow: hidden;
  height: 100%;
}

.categories .categories-header {
  padding: 8px 10px;
  background-color: $color-red-crimson;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 0px;
  outline: 0px;
  width: 100%;
  border-radius: 4px 4px 0px 0px;
  height: 40px;
}

.categories .categories-header .categories-burger-menus {
  min-width: 24px;
  min-height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  position: relative;
}
.categories .categories-header .categories-burger-menus .burger-menu {
  height: 1px;
  width: 16px;
  background-color: $color-white;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.categories .categories-burger-menus .burger-menu::after {
  content: "";
  height: 1px;
  width: 16px;
  background-color: $color-black;
  position: absolute;
  top: 0px;
  left: 100%;
  transition: 300ms;
}

.categories .categories-burger-menus .burger-menu:first-child:after {
  transition-delay: 0.1s;
}
.categories .categories-burger-menus .burger-menu:nth-child(2):after {
  transition-delay: 0.2s;
}
.categories .categories-burger-menus .burger-menu:last-child:after {
  transition-delay: 0.3s;
}

.categories
  .categories-header:hover
  .categories-burger-menus
  .burger-menu::after {
  content: "";
  height: 1px;
  width: 16px;
  background-color: $color-black;
  position: absolute;
  top: 0px;
  left: 0;
}

.categories .categories-header .categories-title h3 {
  color: $color-white;
  font-size: 15px;
  margin: 0px 5px;
  font-weight: 500;
  letter-spacing: 1px;
}

.categories .categories-items {
  width: 100%;
  height: calc(100% - 40px);
  border: 1px solid #e4e4e4;
  border-top: 0px;
  //   overflow: hidden;
  border-radius: 0px 0px 4px 4px;
}

.categories .categories-items ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  width: calc(100% + 1px);
  min-height: 550px;
  max-height: 550px;
  overflow: hidden;
  overflow-y: auto;
  position: relative;
}

/* /-----::CATEGORIES-ITEMS SCROLLBAR-STYLE-START::-----/ */
.categories .categories-items ul::-webkit-scrollbar {
  width: 1px;
  border-radius: 0px 4px;
  background-color: transparent;
}

.categories .categories-items ul::-webkit-scrollbar-track {
  background: transparent;
}

.categories .categories-items ul::-webkit-scrollbar-thumb {
  background: $color-red-crimson;
}
/* /-----::CATEGORIES-ITEMS SCROLLBAR-STYLE-END::-----/ */

.categories .categories-items ul li a {
  padding: 12px 10px;
  font-size: 14px;
  color: $color-black-2;
  transition: 300ms;
}

.categories .categories-items ul li a:hover {
  background-color: #e4e4e4;
}

/* /-----::SLIDER-SER-APPTO::-----/ */
.slider-ser-appto .slider-main {
  min-height: 460px;
  border-radius: 4px;
  overflow: hidden;
}

.slider-ser-appto .ser-appto {
  margin-top: 30px;
}

@media (max-width: 742px) {
  .slider-ser-appto .ser-appto {
    margin-top: 20px;
  }
}

/* /-----::SLIDER-SECTION::-----/ */
.slider-items {
  width: 100%;
  height: 470px;
  border-radius: 4px;
  overflow: hidden;
}

.slider-bg {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.slider-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.slider-content a,
.slider-content a .slider-content-child {
  width: 100%;
  height: 100%;
}

.slider-content a .slider-content-child {
  position: relative;
}

.slider-content a .slider-content-child .slider-content-child-child {
  position: absolute;
  top: 20%;
  left: 5%;
  min-width: 700px;
  max-width: 700px;
  height: auto;
  padding-right: 15px;
}

.slider-content-child-child h3 {
  font-size: 18px;
  color: $color-white;
  font-weight: 400;
  margin-bottom: 10px;
}
.slider-content-child-child h2 {
  font-size: 60px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 10px;
  line-height: 1.1;
}
.slider-content-child-child p {
  font-size: 14px;
  color: #777;
  margin: 0;
  line-height: 24px;
}

.slider-content-child-child button {
  margin-top: 50px;
  padding: 12px 36px;
  border-radius: 4px;
  color: $color-white;
  border: 0px;
  outline: 0px;
  background-color: $color-red-crimson;
  transition: 300ms;
}

.slider-content-child-child button:hover {
  background-color: $color-crimson-opacity;
}

@media (max-width: 1200px) {
  .categories {
    display: none;
  }

  .slider-ser-appto .slider-main {
    min-height: 260px;
    max-height: 370px;
    border-radius: 4px;
    overflow: hidden;
  }

  .slider-items {
    width: 100%;
    min-height: 370px;
    max-height: 370px;
  }

  .slider-content a .slider-content-child .slider-content-child-child {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    min-width: 300px;
    max-width: 700px;
    height: auto;
  }
}

@media (max-width: 812px) {
  .slider-items {
    width: 100%;
    min-height: 300px;
    max-height: 300px;
  }

  .slider-content-child-child h3 {
    font-size: 14px;
  }

  .slider-content-child-child h2 {
    font-size: 35px;
  }

  .slider-content-child-child p {
    font-size: 12px;
  }

  .slider-content-child-child button {
    margin-top: 28px;
  }
}

@media (max-width: 686px) {
  .slider-items {
    min-height: 260px;
    max-height: 260px;
  }

  .slider-content-child-child h3 {
    font-size: 12px;
  }

  .slider-content-child-child h2 {
    font-size: 28px;
  }

  .slider-content-child-child p {
    font-size: 11px;
  }

  .slider-content-child-child button {
    margin-top: 18px;
    padding: 8px 18px 7px 18px;
    font-size: 14px;
  }
}

@media (max-width: 556px) {
  .slider-ser-appto .slider-main {
    min-height: 220px;
  }

  .slider-items {
    min-height: 220px;
    max-height: 220px;
  }

  .slider-content-child-child p {
    display: none;
  }
}

@media (max-width: 494px) {
  .slider-ser-appto .slider-main {
    min-height: 180px;
  }

  .slider-items {
    min-height: 180px;
    max-height: 180px;
  }

  .slider-content-child-child button {
    margin-top: 8px;
    padding: 4px 12px 4px 12px;
    font-size: 12px;
  }
}

@media (max-width: 360px) {
  .slider-ser-appto .slider-main {
    min-height: 160px;
  }

  .slider-items {
    min-height: 160px;
    max-height: 160px;
  }

  .slider-content-child-child h3 {
    font-size: 16px;
  }
  .slider-content-child-child h2 {
    font-size: 22px;
  }
}

/* /-----::SER-APPTO::-----/ */
.ser-appto {
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  padding: 14px 0px;
  background-color: #fff;
}

.ser-appto .ser-appto-child {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.ser-appto .ser-appto-item-main {
  padding: 0px 16px;
}

.ser-appto .ser-appto-item-main:nth-child(2) {
  border-left: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
}

.ser-appto-child .ser-appto-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ser-appto-child .ser-appto-item .ser-appto-icon {
  background: #f5f5f5;
  border: 1px solid #f5f5f5;
  min-width: 70px;
  min-height: 70px;
  max-width: 70px;
  max-height: 70px;
  border-radius: 100%;
  padding-top: 13px;
  text-align: center;
  margin-right: 16px;
  border: 1px solid transparent;
  transition: 300ms ease;
}

.ser-appto-child .ser-appto-item:hover .ser-appto-icon {
  border: 1px solid $color-red-crimson;
}

.ser-appto-child .ser-appto-item .ser-appto-icon svg {
  overflow: hidden;
  width: 40px;
  height: 40px;
}

.ser-appto-child .ser-appto-item .ser-appto-content h4 {
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 400;
  margin: 0 0 4px;
  position: relative;
}

.ser-appto-child .ser-appto-item .ser-appto-content p {
  color: #777;
  font-size: 12px;
  text-transform: capitalize;
  margin-bottom: 0;
}

@media (max-width: 1000px) {
  .ser-appto-child .ser-appto-item .ser-appto-icon {
    min-width: 60px;
    min-height: 60px;
    max-width: 60px;
    max-height: 60px;
  }

  .ser-appto-child .ser-appto-item .ser-appto-icon svg {
    width: 30px;
    height: 30px;
  }

  .ser-appto-child .ser-appto-item .ser-appto-content h4 {
    font-size: 14px;
  }

  .ser-appto-child .ser-appto-item .ser-appto-content p {
    font-size: 12px;
  }
}

@media (max-width: 946px) {
  .ser-appto-child .ser-appto-item {
    flex-direction: column;
    text-align: center;
  }

  .ser-appto-child .ser-appto-item .ser-appto-icon {
    margin-bottom: 8px;
  }
}

@media (max-width: 726px) {
  .ser-appto .ser-appto-child {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .ser-appto .ser-appto-item-main:nth-child(2) {
    border-left: 0px;
    border-right: 0px;
  }

  .ser-appto .ser-appto-item-main .ser-appto-item {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .ser-appto .ser-appto-item-main:first-child .ser-appto-item {
    border-top: 0px;
    padding-top: 0px;
  }

  .ser-appto .ser-appto-item-main:nth-child(even) .ser-appto-item {
    border-top: 1px solid $color-red-crimson;
    border-bottom: 1px solid $color-red-crimson;
  }

  .ser-appto .ser-appto-item-main:last-child .ser-appto-item {
    border-bottom: 0px;
    padding-bottom: 0px;
  }

  .ser-appto-child .ser-appto-item {
    flex-direction: row;
    text-align: left;
    justify-content: flex-start;
  }

  .ser-appto-child .ser-appto-item .ser-appto-icon {
    margin-bottom: 0px;
  }
}

@media (max-width: 380px) {
  .ser-appto-child .ser-appto-item .ser-appto-icon {
    min-width: 48px;
    min-height: 48px;
    max-width: 48px;
    max-height: 48px;
  }

  .ser-appto-child .ser-appto-item .ser-appto-icon svg {
    width: 25px;
    height: 25px;
  }

  .ser-appto-child .ser-appto-item .ser-appto-icon {
    padding-top: 10px;
  }
}

@media (max-width: 326px) {
  .ser-appto-child .ser-appto-item .ser-appto-content h4 {
    font-size: 13px;
  }

  .ser-appto-child .ser-appto-item .ser-appto-content p {
    font-size: 11px;
  }
}

/* /-----::PRODUCTS-BANNER::-----/ */
.product-banners {
  min-width: 1400px;
  max-width: 100%;
  margin-top: 30px;
  background-color: transparent;
  display: grid;
  grid-template-columns: 1.8fr 4fr;
  grid-gap: 20px;
}

.product-banners .product-start .product-banner {
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
}

.product-banners .product-start .product-banner a,
.product-banners .product-start .product-banner a img {
  min-height: 600px;
  max-height: 600px;
  width: 100%;
}

.product-banners .product-left {
  .product-left-top .product-banner {
    margin-bottom: 20px;
  }

  .product-left-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px 20px;
  }

  .product-left-top .product-banner,
  .product-left-bottom .product-banner {
    height: 290px;
    border-radius: 4px;
    overflow: hidden;
  }

  .product-left-top .product-banner a,
  .product-left-bottom .product-banner a {
    height: 290px;
  }

  .product-left-top .product-banner a img,
  .product-left-bottom .product-banner a img {
    height: 290px;
    object-fit: cover;
  }
}

.product-banners .product-banner {
  position: relative;
}

@media (max-width: 1450px) {
  .product-banners {
    min-width: 1300px;
  }

  .product-banners .product-start .product-banner {
    min-width: 360px;
    width: 100%;
    height: auto;
  }

  .product-banners .product-start .product-banner a,
  .product-banners .product-start .product-banner a img {
    min-height: 460px;
    max-height: 460px;
    width: 100%;
  }

  .product-banners .product-left {
    .product-left-top .product-banner,
    .product-left-bottom .product-banner {
      height: 220px;
      border-radius: 4px;
      overflow: hidden;
    }

    .product-left-top .product-banner a,
    .product-left-bottom .product-banner a {
      height: 220px;
    }

    .product-left-top .product-banner a img,
    .product-left-bottom .product-banner a img {
      height: 220px;
      object-fit: cover;
    }
  }
}

@media (max-width: 1344px) {
  .product-banners {
    min-width: 1200px;
  }

  .product-banners .product-start .product-banner {
    min-width: 300px;
    width: 100%;
  }

  .product-banners .product-start .product-banner a,
  .product-banners .product-start .product-banner a img {
    min-height: 440px;
    max-height: 440px;
    width: 100%;
  }

  .product-banners .product-left {
    .product-left-top .product-banner {
      height: 200px;
      border-radius: 4px;
      overflow: hidden;
    }

    .product-left-top .product-banner a {
      height: 200px;
    }

    .product-left-top .product-banner a img {
      height: 200px;
      object-fit: cover;
    }
  }
}

@media (max-width: 1244px) {
  .product-banners {
    grid-template-columns: 1.6fr 4fr;
  }

  .product-banners {
    min-width: 1100px;
  }

  .product-banners .product-start .product-banner {
    min-width: 240px;
    width: 100%;
  }

  .product-banners .product-start .product-banner a,
  .product-banners .product-start .product-banner a img {
    min-height: 400px;
    max-height: 400px;
    width: 100%;
  }

  .product-banners .product-left {
    .product-left-top .product-banner {
      height: 160px;
    }

    .product-left-top .product-banner a {
      height: 160px;
    }

    .product-left-top .product-banner a img {
      height: 160px;
    }
  }
}

@media (max-width: 1142px) {
  .product-banners {
    min-width: 1000px;
  }

  .product-banners .product-start .product-banner {
    min-width: 220px;
    width: 100%;
  }

  .product-banners .product-start .product-banner a,
  .product-banners .product-start .product-banner a img {
    min-height: 360px;
    max-height: 360px;
    width: 100%;
  }

  .product-banners .product-left {
    .product-left-top .product-banner {
      height: 120px;
    }

    .product-left-top .product-banner a {
      height: 120px;
    }

    .product-left-top .product-banner a img {
      height: 120px;
    }
  }
}

@media (max-width: 1042px) {
  .product-banners {
    min-width: 900px;
  }

  .product-banners .product-start .product-banner {
    min-width: 220px;
    width: 100%;
  }

  .product-banners .product-start .product-banner a,
  .product-banners .product-start .product-banner a img {
    min-height: 320px;
    max-height: 320px;
    width: 100%;
  }

  .product-banners .product-left {
    .product-left-bottom .product-banner {
      height: 180px;
    }

    .product-left-bottom .product-banner a {
      height: 180px;
    }

    .product-left-bottom .product-banner a img {
      height: 180px;
    }
  }
}

@media (max-width: 932px) {
  .product-banners {
    min-width: 800px;
  }

  .product-banners .product-start .product-banner {
    min-width: 220px;
    width: 100%;
  }

  .product-banners .product-start .product-banner a,
  .product-banners .product-start .product-banner a img {
    min-height: 300px;
    max-height: 300px;
    width: 100%;
  }

  .product-banners .product-left {
    .product-left-bottom .product-banner {
      height: 160px;
    }

    .product-left-bottom .product-banner a {
      height: 160px;
    }

    .product-left-bottom .product-banner a img {
      height: 160px;
    }
  }
}

@media (max-width: 864px) {
  .product-banners {
    min-width: 700px;
  }

  .product-banners .product-start .product-banner {
    min-width: 220px;
    width: 100%;
  }

  .product-banners .product-start .product-banner a,
  .product-banners .product-start .product-banner a img {
    min-height: 280px;
    max-height: 280px;
    width: 100%;
  }

  .product-banners .product-left {
    .product-left-bottom .product-banner {
      height: 140px;
    }

    .product-left-bottom .product-banner a {
      height: 140px;
    }

    .product-left-bottom .product-banner a img {
      height: 140px;
    }
  }
}

@media (max-width: 756px) {
  .product-banners {
    min-width: 100%;
  }

  .product-banners {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .product-banners .product-start .product-banner {
    min-height: 550px;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
  }

  .product-banners .product-start .product-banner a,
  .product-banners .product-start .product-banner a img {
    min-height: 550px;
    max-height: 550px;
    width: 100%;
  }

  .product-banners .product-left {
    .product-left-top .product-banner,
    .product-left-bottom .product-banner {
      height: 200px;
    }

    .product-left-top .product-banner a,
    .product-left-bottom .product-banner a {
      height: 200px;
    }

    .product-left-top .product-banner a img,
    .product-left-bottom .product-banner a img {
      height: 200px;
    }
  }
}

@media (max-width: 714px) {
  .product-banners .product-start .product-banner {
    min-height: 400px;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
  }

  .product-banners .product-start .product-banner a,
  .product-banners .product-start .product-banner a img {
    min-height: 400px;
    max-height: 400px;
    width: 100%;
  }

  .product-banners .product-left {
    .product-left-bottom {
      grid-gap: 20px;
      grid-template-columns: repeat(1, 1fr);
    }

    .product-left-bottom .product-banner {
      height: 400px;
    }

    .product-left-bottom .product-banner a {
      height: 400px;
    }

    .product-left-bottom .product-banner a img {
      height: 400px;
    }
  }
}

@media (max-width: 694px) {
  .product-banners .product-left {
    .product-left-bottom .product-banner {
      width: 100%;
    }

    .product-left-bottom .product-banner a {
      width: 100%;
    }

    .product-left-bottom .product-banner a img {
      width: 100%;
    }
  }
}

@media (max-width: 678px) {
  .product-banners .product-left {
    .product-left-bottom .product-banner {
      width: 100%;
      height: 360px;
    }

    .product-left-bottom .product-banner a {
      width: 100%;
      height: 360px;
    }

    .product-left-bottom .product-banner a img {
      width: 100%;
      height: 360px;
    }
  }
}

@media (max-width: 622px) {
  .product-banners .product-left {
    .product-left-bottom .product-banner {
      width: 100%;
      height: 330px;
    }

    .product-left-bottom .product-banner a {
      width: 100%;
      height: 330px;
    }

    .product-left-bottom .product-banner a img {
      width: 100%;
      height: 330px;
    }
  }
}

@media (max-width: 572px) {
  .product-banners .product-left {
    .product-left-bottom .product-banner {
      width: 100%;
      height: 290px;
    }
    .product-left-top .product-banner a,
    .product-left-bottom .product-banner a {
      width: 100%;
      height: 290px;
    }

    .product-left-bottom .product-banner a img {
      width: 100%;
      height: 290px;
    }
  }
}

@media (max-width: 498px) {
  .product-banners .product-start .product-banner {
    min-height: 350px;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
  }

  .product-banners .product-start .product-banner a,
  .product-banners .product-start .product-banner a img {
    min-height: 350px;
    max-height: 350px;
    width: 100%;
  }

  .product-banners .product-left {
    .product-left-top .product-banner,
    .product-left-top .product-banner a,
    .product-left-top .product-banner a img {
      height: 100px;
    }

    .product-left-bottom .product-banner {
      width: 100%;
      height: 230px;
    }

    .product-left-bottom .product-banner a {
      width: 100%;
      height: 230px;
    }

    .product-left-bottom .product-banner a img {
      width: 100%;
      height: 230px;
    }
  }
}

@media (max-width: 404px) {
  .product-banners .product-start .product-banner {
    min-height: 300px;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
  }

  .product-banners .product-start .product-banner a,
  .product-banners .product-start .product-banner a img {
    min-height: 300px;
    max-height: 300px;
    width: 100%;
  }

  .product-banners .product-left {
    .product-left-bottom .product-banner {
      width: 100%;
      height: 200px;
    }

    .product-left-bottom .product-banner a {
      width: 100%;
      height: 200px;
    }

    .product-left-bottom .product-banner a img {
      width: 100%;
      height: 200px;
    }
  }
}

@media (max-width: 360px) {
  .product-banners .product-start .product-banner {
    min-height: 265px;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
  }

  .product-banners .product-start .product-banner a,
  .product-banners .product-start .product-banner a img {
    min-height: 265px;
    max-height: 265px;
    width: 100%;
  }

  .product-banners .product-left {
    .product-left-bottom .product-banner {
      width: 100%;
      height: 170px;
    }

    .product-left-bottom .product-banner a {
      width: 100%;
      height: 170px;
    }

    .product-left-bottom .product-banner a img {
      width: 100%;
      height: 170px;
    }
  }
}

/* /-----::PRODUCT-SECTION::-----/ */
.product-section {
  overflow-x: hidden;
}

.product-card-section {
  width: 100%;
  height: auto;
  position: relative;
}

.product-cards.proactive {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

.feature-product,
.latest-product,
.bestseller-product {
  display: none;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: onnFF;
}

@keyframes onnFF {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    display: block;
  }
}

@media (max-width: 1496px) {
  .product-cards.proactive {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 1200px) {
  .product-cards.proactive {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 922px) {
  .product-cards.proactive {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 624px) {
  .product-section-title {
    justify-content: flex-start;
  }

  .product-title-heading h3 {
    display: none;
  }

  .product-title-nav ul li a {
    font-size: 14px;
  }

  .product-cards.proactive {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* /-----::OFFER-TEXT::-----/ */
.offer-text {
  background-image: url("https://cdn.shopify.com/s/files/1/0531/1604/3454/t/2/assets/offer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  padding: 45px 10px;
  border-radius: 4px;
  margin-top: 40px;
  text-align: center;
  height: auto;
}

.offer-text h1 {
  font-size: 40px;
  font-weight: 500;
  color: $color-black;
  margin-bottom: 25px;
  margin-top: 0px;
}

.offer-text p {
  font-size: 18px;
  font-weight: 400;
  color: #47433c;
}

@media (max-width: 992px) {
  .offer-text h1 {
    font-size: 35px;
  }

  .offer-text p {
    font-size: 16px;
  }
}

@media (max-width: 676px) {
  .offer-text h1 {
    font-size: 28px;
  }

  .offer-text p {
    font-size: 15px;
  }
}

@media (max-width: 492px) {
  .offer-text {
    margin-top: 30px;
    padding: 25px 10px;
  }

  .offer-text h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .offer-text p {
    font-size: 14px;
  }
}

@media (max-width: 392px) {
  .offer-text h1 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .offer-text p {
    font-size: 12px;
  }
}

@media (max-width: 376px) {
  .offer-text h1 {
    font-size: 18px;
    margin-bottom: 16px;
  }
}

/* /-----::TOP-CATEGORIES::-----/ */
.top-categories {
  display: grid;
  grid-template-columns: 440px calc(100% - 470px);
  margin-top: 40px;
  height: auto;
  grid-column-gap: 30px;
  overflow-x: hidden;
}

.category-latest-big-img {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  height: 100%;
  width: 100%;
}

.category-latest-big-img img {
  width: 100%;
  height: 100%;
}

.top-categories-card-sec {
  overflow-x: hidden;
}

.top-categories-cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 25px;
}

@media (max-width: 1482px) {
  // .top-categories {
  //   grid-template-columns: 1.8fr 4fr;
  // }

  .categories-card-img {
    height: 150px;
  }
}

@media (max-width: 1376px) {
  // .top-categories {
  //   grid-template-columns: 1.7fr 4fr;
  // }

  .categories-card-img {
    height: 140px;
  }
}

@media (max-width: 1200px) {
  .top-categories {
    grid-template-columns: 100%;
  }

  .category-latest-big-img {
    display: none;
  }

  // .top-categories-cards {
  //   grid-template-columns: repeat(6, 1fr);
  // }
}

@media (max-width: 1056px) {
  // .top-categories-cards {
  //   grid-template-columns: repeat(5, 1fr);
  // }

  .categories-card-img {
    height: 160px;
  }
}

@media (max-width: 938px) {
  // .top-categories-cards {
  //   grid-template-columns: repeat(5, 1fr);
  // }

  .categories-card-img {
    height: 150px;
  }
}

@media (max-width: 900px) {
  // .top-categories-cards {
  //   grid-template-columns: repeat(4, 1fr);
  // }
}

@media (max-width: 740px) {
  .top-categories-cards {
    grid-gap: 18px;
  }

  .categories-card-img {
    height: 140px;
  }
}

@media (max-width: 694px) {
  // .top-categories-cards {
  //   grid-template-columns: repeat(3, 1fr);
  // }

  .categories-card-img {
    height: 160px;
  }
}

@media (max-width: 688px) {
  .categories-card-img {
    height: 170px;
  }
}

@media (max-width: 588px) {
  .categories-card-img {
    height: 130px;
  }
}

@media (max-width: 474px) {
  // .top-categories-cards {
  //   grid-template-columns: repeat(2, 1fr);
  // }

  .categories-card-img {
    height: 160px;
  }
}

@media (max-width: 398px) {
  .categories-card-img {
    height: 140px;
  }
}

@media (max-width: 340px) {
  .categories-card-img {
    height: 120px;
  }
}

/* /-----::DAY-DEAL-SECTION::-----/ */
.day-deal-sec {
  width: 100%;
  margin-top: 30px;
  overflow-x: hidden;
}

.day-deal-cards-parent {
  width: 100%;
  height: auto;
  background-color: transparent;
}

.day-deal-cards-child {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 25px;
}

@media (max-width: 1400px) {
  .day-deal-cards-child {
    grid-template-columns: repeat(1, 1fr);
  }

  .day-deal-popular-card {
    grid-template-columns: 1.6fr 4fr;
  }
}

@media (max-width: 1100px) {
  .day-deal-popular-card {
    grid-template-columns: 1.8fr 4fr;
  }
}

@media (max-width: 960px) {
  .day-deal-popular-card {
    grid-template-columns: 2fr 4fr;
  }
}

@media (max-width: 856px) {
  .day-deal-popular-card {
    grid-template-columns: 2.6fr 4fr;
  }
}

@media (max-width: 760px) {
  .day-deal-popular-card {
    grid-template-columns: 3fr 4fr;
  }
}

@media (max-width: 730px) {
  .day-deal-cards-child {
    grid-template-columns: repeat(2, 1fr);
  }

  .time-counting ul li {
    padding: 0px 6px;
  }

  .day-deal-popular-card {
    grid-template-columns: 1fr;
  }

  .day-deal-popular-card .day-deal-popular-img {
    height: 280px;
  }

  .day-deal-popular-card .day-deal-popular-img a {
    height: 280px;
  }

  .day-deal-info-text h4 {
    font-size: 16px;
  }

  .time-counting ul li span:first-child {
    font-size: 16px;
  }

  .time-counting ul li span:last-child {
    font-size: 10px;
  }

  .cart-eye-icon button {
    padding: 1px 15px 0px 15px;
  }
}

@media (max-width: 667px) {
  .day-deal-cards-child {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 16px;
  }

  .day-deal-popular-card .day-deal-popular-img {
    height: 400px;
  }

  .day-deal-popular-card .day-deal-popular-img a {
    height: 400px;
  }
}

@media (max-width: 667px) {
  .day-deal-popular-card .day-deal-popular-img {
    height: 360px;
  }

  .day-deal-popular-card .day-deal-popular-img a {
    height: 360px;
  }
}

@media (max-width: 667px) {
  .day-deal-sec-title h3 {
    display: block;
  }
}

@media (max-width: 460px) {
  .day-deal-sec-title h3 {
    font-size: 20px;
  }

  .day-deal-popular-card .day-deal-popular-img {
    height: 330px;
  }

  .day-deal-popular-card .day-deal-popular-img a {
    height: 330px;
  }
}

@media (max-width: 388px) {
  .day-deal-popular-card .day-deal-popular-img {
    height: 270px;
  }

  .day-deal-popular-card .day-deal-popular-img a {
    height: 270px;
  }
}

@media (max-width: 334px) {
  .day-deal-popular-card .day-deal-popular-img {
    height: 240px;
  }

  .day-deal-popular-card .day-deal-popular-img a {
    height: 240px;
  }
}

/* /-----::SUMMER-COLLECTION::-----/ */
.seasonal-collection {
  width: 100%;
  height: auto;
  margin-top: 50px;
  border-radius: 4px;
  overflow: hidden;
  background-color: red;
}

.seasonal-collection a {
  width: 100%;
}

.seasonal-collection a img {
  width: 100%;
}

.summer-collection a img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1200px) {
  .seasonal-collection {
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .seasonal-collection {
    margin-top: 20px;
  }
}

/* /-----::POPULAR-PRODUCT::-----/ */
.popular-product {
  display: grid;
  grid-template-columns: calc(100% - 370px) 340px;
  margin-top: 40px;
  height: auto;
  grid-column-gap: 30px;
  overflow: auto;
}

.popular-products-cards {
  width: 100%;
  // grid-gap: 30px;
}

@media (max-width: 1456px) {
  .popular-product {
    display: grid;
    grid-template-columns: 4fr 1.5fr;
    margin-top: 40px;
    height: auto;
    grid-column-gap: 30px;
  }
}

@media (max-width: 1428px) {
  .popular-products-card .popular-product-card-img {
    position: relative;
    width: 100%;
    height: 130px;
    transition: 500ms;
    background-color: transparent;
  }

  .popular-products-card .popular-product-card-img a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 130px;
    transition: all 0.8s ease;
  }

  .popular-product-big-img {
    height: 374px !important;
  }
}

@media (max-width: 1404px) {
  .popular-product {
    grid-gap: 20px;
  }

  .popular-products-cards {
    grid-gap: 20px;
  }

  .popular-product-big-img {
    height: 365px !important;
  }
}

@media (max-width: 1420px) {
  .popular-product-card-img {
    height: 135px !important;
  }
  .popular-product-card-img a {
    height: 135px !important;
  }
}

@media (max-width: 1400px) {
  .popular-product {
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
  }
  .popular-products-cards {
    grid-gap: 20px;
  }

  .popular-product-big-img {
    display: none;
  }
}

@media (max-width: 1338px) {
  .popular-products-card {
    grid-template-columns: 2fr 4fr;
  }
}

@media (max-width: 1084px) {
  .popular-products-card {
    grid-template-columns: 2.3fr 4fr;
  }

  .popular-product-card-img {
    height: 130px !important;
  }

  .popular-product-card-img a {
    height: 130px !important;
  }

  .popular-product-content {
    padding: 13px 6px 10px 6px;
  }
}

@media (max-width: 992px) {
  .popular-products-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
}

@media (max-width: 704px) {
  .popular-products-cards {
    grid-gap: 20px;
  }
}

@media (max-width: 667px) {
  .popular-products-cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .popular-products-card {
    grid-template-columns: 1.5fr 4fr;
  }
}

@media (max-width: 456px) {
  .popular-products-card {
    grid-template-columns: 1.8fr 4fr;
  }
}

@media (max-width: 390px) {
  .popular-products-card {
    grid-template-columns: 2fr 4fr;
  }
}

@media (max-width: 332px) {
  .popular-products-card {
    grid-template-columns: 2.2fr 4fr;
  }
}

.company-logo {
  width: 100%;
  height: auto;

  margin-top: 60px;
  border: 1px solid #e1e1e1;
  padding: 20px;
  border-radius: 5px;
}

.company-logo-images {
  width: 100%;
  height: 100%;
  overflow-x: auto;
  display: flex;
  padding: 0px !important;
}

.company-logo-image {
  min-width: 188px;
  max-width: 188px;
  min-height: 126px;
  max-height: 126px;
  margin: 0px 20px;
}

.company-logo-image a:hover img {
  fill: adjust-hue($color: #000000, $degrees: 0);
}

.company-logo-image:first-child {
  margin-left: 0px;
  padding: 0px;
  height: 0px;
}

.company-logo-image:last-child {
  margin-right: 0px;
  padding: 0px;
  height: 0px;
}

.company-logo-images::-webkit-scrollbar {
  width: 0px;
  padding: 0px;
  height: 0px;
}

.company-logo-images::-webkit-scrollbar-track {
  background: transparent;
  padding: 0px;
  height: 0px;
}

.company-logo-images::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 0px;
  height: 0px;
}

@media (max-width: 772px) {
  .company-logo {
    margin-top: 30px;
  }
}

/* /-----::LATEST-PRODUCT::-----/ */
.latest-blog {
  width: 100%;
  height: auto;
  margin-top: 40px;
}

.latest-blog-cards {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
}

@media (max-width: 1062px) {
  .latest-blog-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .latest-blog-bg {
    height: 214px;
  }

  .latest-blog-content-title h3 a {
    font-size: 15px;
  }

  .latest-blog-content-title h6 span {
    font-size: 12px;
  }

  .latest-blog-content-title h6 span:first-child::after {
    content: "";
    top: 0px;
  }
}

@media (max-width: 654px) {
  .latest-blog-bg {
    height: 176px;
  }
}

@media (max-width: 556px) {
  .latest-blog-cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .latest-blog-bg {
    height: 252px;
  }
}

@media (max-width: 406px) {
  .latest-blog-bg {
    height: 200px;
  }
}

/* /-----::FOOT-SP-::-----/ */
.foot-sp {
  background-color: #f5f5f5;
  padding: 23px 0;
  margin-top: 40px;
}

.foot-sp-child {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.company-host {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-right: 16px;
}

.company-host-img {
  min-width: 100px;
  max-width: 100px;
  min-height: 100px;
  max-height: 100px;
  border-radius: 50%;
  border: 2px solid $color-red-crimson;
  margin-right: 16px;
  margin-top: 5px;
}

.company-host-img img {
  width: 100%;
  height: 100%;
}

.company-host-content {
  margin-left: 16px;
  padding-right: 16px;
}

.company-host-content .host-title h4 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.company-host-content .host-title h4 span:first-child {
  color: $color-red-crimson;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  display: inline-block;
}

.company-host-content .host-title h4 span:last-child {
  font-size: 12px;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  margin: 0;
  font-weight: 400;
  display: inline-block;
  vertical-align: middle;
  color: rgb(97, 96, 96);
  padding-top: 2px;
}

.company-host hr {
  width: 60px;
  margin: 15px 0;
  background-color: $color-light-gray-2;
}

.host-content-info p {
  color: $color-black-2;
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 13px;
  letter-spacing: 1px;
}

/* /-----::COMPANY-NEWSLETTER::-----/ */
.company-newsletter {
  border-left: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding-left: 16px;
}

.company-newsletter h3 {
  font-size: 22px;
  font-weight: 600;
  color: $color-black;
  margin-bottom: 20px;
}

.news-letter-form {
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 30px;
}

.news-letter-form form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newsletter-input {
  width: 100%;
}
.newsletter-input input {
  width: 100%;
  padding: 3px 15px;
  background: #fff;
  height: 42px;
  border: none;
}

.newsletter-button {
  height: 42px;
}

.newsletter-button button {
  height: 100%;
  border: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 20px 0px 20px;
  background-color: $color-red-crimson;
  color: $color-white;
}

.follow-us {
  display: flex;
  align-items: center;
  justify-items: center;
}

.follow-us h4 {
  padding: 0 40px;
  margin-bottom: 0;
  color: #000;
  font-size: 18px;
}

.follow-button {
  display: flex;
  align-items: center;
}

.follow-button button {
  min-width: 40px;
  min-height: 40px;
  text-align: center;
  transition: 0.3s ease;
  border-radius: 5px;
  background: #fff;
  color: #555;
  border: 0px;
  outline: 0px;
  margin-right: 12px;
}

.follow-button button i {
  font-size: 14px;
}

.follow-button button:hover {
  background-color: $color-black-2;
  color: $color-white;
}

.follow-button button:last-child {
  margin-right: 0px;
}

@media (max-width: 992px) {
  .foot-sp-child {
    grid-template-columns: repeat(1, 1fr);
  }

  .company-newsletter {
    padding: 0px;
    border-top: 1px solid #e5e5e5;
    border-left: 0px;
    margin-top: 20px;
    padding-top: 20px;
  }
}

@media (max-width: 612px) {
  .company-host {
    flex-direction: column;
  }

  .company-host-img {
    margin-bottom: 10px;
    margin-right: 0px;
  }

  .company-host-content .host-title h4 {
    justify-content: center;
  }

  .company-host-content hr {
    margin-left: auto;
    margin-right: auto;
  }

  .host-content-info p {
    text-align: center;
  }
}

@media (max-width: 472px) {
  .follow-us h4 {
    display: none;
  }

  .newsletter-button button {
    padding: 2px 10px 0px 10px;
  }
}
