@import "../../theme/variable.scss";
@import "../seller-add-product/seller-add-product.component";

.seller-account-form {
  border: 1px solid $color-red-crimson;
}

.loader {
  text-align: center;
  color: $color-red-crimson;
}
